
.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}
.register {
    width: 400px;
    background: #fff;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
}


.buttons {
    display: flex;
    justify-content:space-evenly;
}

p {
    text-decoration: underline;
}

p:hover {
    text-decoration:none;
    cursor: pointer;
}